
body 
{
	background-image: url("../img/fondo.png");
}

nav
{
	font-weight: bold;
	
}

p
{
	color: rgb(250,250,250);
	
}

#carrusel
{
	text-align: center;
	padding-top: 50px;
}

.container
{
	background-color: rgb(50,50,50);
	opacity: 0.93;
}

footer
{
	text-align: center;
	background-color: rgb(50,50,50);
}
