
/*************************************
 *****Uriel Propiedades*****************
 *Autor: Ariel Marcelo Diaz
 *Email: ariel@infrasoft.com.ar
*Sitio Web: http://www.infrasoft.com.ar 
****************************************/ 

body {
	margin: 0;
	padding: 0;
	background: url("../images/fondo.png") /*rgb(250,250,200)*/;
	font-family: 'Arvo', serif;
	font-size: 14px;
	color: #3B3B3B;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;	
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 24px;
	font-family:Tahoma,"Times New Roman", Verdana;
}

h3 {
	font-size: 1.6em;
	margin-left:15px;
	color: rgb(255,150,0);
}

 ul, ol {
	margin-top: 0;
	line-height: 180%;
	color: rgb(220,50,50);
}

p{
	color: rgb(50,50,50);
	text-indent:25px;	
	font-size: 12px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: Arial, Tahoma;
}

a {
	text-decoration: none;
	color: #BA0202;
}

a:hover {
}

b{
	color: rgb(50,50,50);
	text-indent:25px;	
	font-size: 14px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: Arial, Tahoma;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0;
   
}

/* Header */

#header {	
	text-align:center;
	/*background: url(../images/img03.jpg) no-repeat left top;*/
}

/* Logo */

#logo {
	margin: 0;
	padding: 0px 0px 0px 60px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	padding-top: 160px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #3B3B3B;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #3B3B3B;
}



/* Menu */

#menu {
	width: 980px;
	height: 50px;
	margin: 0px auto;
	padding: 0px;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
    margin-left:250px;
}

#menu li {
	float: left;
	border-right: 1px solid #FDB848;
    list-style: none;
}

#menu a {
	display: block;
	height: 20px;
	padding: 30px 40px 0px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #3B3B3B;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #F79700 url(../images/img02.gif) no-repeat center top;
	text-decoration: none;
	color: #FFFFFF;
}


/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 12px 0px 0px 0px;    
}

#page-bgtop {
	padding: 20px 0px;
    
}

#page-bgbtm {
	/*background-image: url("../images/fondo.jpg");*/
	background-color:rgb(250,250,250);
    opacity: .87;
   -moz-opacity: .87;
   filter:alpha(opacity=87);
    -webkit-border-radius: 20px;
    border-radius: 20px; 
}

/* Content */

#content {
	float: right;
	width: 720px;
	padding: 30px 0px 0px 0px;
	background-color: rgb(250,250,250);
    -webkit-border-radius: 20px;
    border-radius: 20px; 
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {	
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #3B3B3B; 
	/*background-color: rgb(240,240,150);*/
	background-image: url("../images/fondo.jpg");
	text-align:center;
	margin-left:15px;
	margin-right:15px;
    border-radius:12px;
}

.post .title a {
	color: #3B3B3B;
	border: none;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-size: 13px;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	color: #787878;
	background-color: rgb(240,240,240);
    -webkit-border-radius: 20px;
    border-radius: 20px; 
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
    margin-top: 15px;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	border-bottom: 1px dashed #D4D18B;
	margin: 0px 30px;
	padding: 5px 0px;
	border-left: none;
}

#sidebar li li a {
	padding-left: 20px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #3B3B3B;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}



/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #8AAAA8;
}

#footer a:hover {
	color: rgb(240,240,150);
}

/*Efectos al texto*/

#der{
	text-align:right;
	margin-right:60px;
}

/*  Formularios de Contactos  */
.edt{
  background-color: rgb(204,204,255);
  border: 1px; 
  border-color: rgb(255,255,153);   
  font-family: Arial, Tahoma, Courier; 
  font-size:11px;
  border-radius:8px;
}

.btn{
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#638cb5;
  border-radius:6px;
  width:80px;
  height:19px;
  border-color: rgb(255,255,204);
  margin: 5px;
  }
  
#tabla
{
		border:0px;		
		width:90%;
		vertical-align:top;
}

/* Estilo para la galeria de imagenes   */
#flashcontent
{
		height: 340px;
		width: 100%;
		text-align: right;
}

/* Propiedades de imagen */
#imgBanner{
	border: 0px;
	width: 140px;
	height: 140px;
}

/* Banner Principal */
#bannerPrincipal{    
    text-align:center; 
    margin-top:5px;
}

#bannerPrincipal p{ 
    font-size: 12px;
    color: rgb(255,150,0);
    font-weight: bold;
}