
footer
{
    text-align: center;
    font-size: 8px;
}

h1, h2, h3
{
	color: red;
}

h1
{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

 h2
{
	font-size: 20px;
	padding-left: 25px;
	margin-left: 25px;
	font-weight: bold;
} 

h3
{
	font-size: 16px;
}

hr
{
	width:90%;
	background-color: rgb(245,245,245);	
}

p
{
	font-size: 12px;
	text-indent: 25px;;
}
/* Menu  */
.navbar-header .navbar-brand 
{
    color: blue;
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.panel
{
	opacity: 0.8;
}

/* Formularios */
.formulario
{
	text-align: center;
	
	padding: 15px;
	margin: 15px;
}

.form-group
{
	margin-top: 15px;
	padding-top: 15px;
}

.table
{
	background-color: rgb(235,235,255);
}

.img-peque
{
	max-height: 250px;
	max-width: 250px;
}
